.scrollbar::-webkit-scrollbar {
    width: 2px;
  }

 /* .qna-box{
  background-image: 
        url(./bg-qa.png);

  background-repeat: no-repeat;
  background-size: 

    20rem;
  background-position: 

    2rem 0.8rem;
  background-attachment: local;



}

.navbar-bg{
  background-color: #fc9a59;
}*/

.active{
  background-color: rgb(255 237 213);
}