.scrollbar::-webkit-scrollbar {
    width: 2px;
  }

 .qna-box{
  background-image: 
    /* url(./bg-qa.png), */
    url(./bg-qa.png);

  background-repeat: no-repeat;
  background-size: 
    /* 20rem, */
    20rem;
  background-position: 
    /* 56rem 1rem, */
    2rem 0.8rem;
  background-attachment: local;



}